@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Grupo 1!</h1>

Welcome to your new app.
Integrantes: Julián Flores, Tony Chen, Carlos Larco, Fernando Camacho, Ignacio Fonte, Tito Jaramillo.

<SurveyPrompt Title="How is Blazor working for you?" />
